@font-face {
    font-family: "Figtree";
    font-weight: 100 900;
    src: url("./fonts/figtree.ttf") format("truetype-variations");
    src: url("./fonts/figtree.ttf") format("truetype") tech("variations");
  }

@import "tailwindcss";

body {
    font-family: "Figtree";
    font-weight: 600;
}

.absolute-center {
    @apply -translate-1/2 top-1/2 left-1/2 absolute;
}

#chamber-positioner {
    @apply h-[105px] w-[60px] -translate-x-1/2 -translate-y-full origin-bottom top-1/2 left-1/2 absolute;

    &>* {
        @apply size-[60px] bg-white rounded-full top-0 left-0 absolute;
    }
}

#decoration-positioner {
    @apply h-[185px] w-[80px] -translate-x-1/2 -translate-y-full origin-bottom top-1/2 left-1/2 absolute;

    &>* {
        @apply size-[80px] bg-white rounded-full top-0 left-0 absolute;
    }
}